@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap');

body {
    font-family: "Montserrat", "Arial", "Times New Roman", sans-serif;
    background: rgb(218, 227,235);
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "head mainnav";
    margin: auto;
    max-width: 960px;
    background: rgb(181,197,215);
    padding: 10px 20px;
    border: thin solid rgb(34,53,75);
}

h1 {
    grid-area: head;
    font-size: 36px;
    padding-top: 10px;
    color: rgb(34,53,75);
    font-family: "Raleway", "Monserrat", "Arial", "Times New Roman", sans-serif; 
}

h2 {
    color: rgb(43,66,93);
}

#mainnav {
    grid-area: mainnav;
}

#index section,
footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "photo content"
    "feet feet";
    margin: auto;
    max-width: 960px;
    margin-top: 40px;
}

#index aside {
    grid-area: photo;
}

#content nav {
    grid-area: content;
    background: rgb(181,197,215);
    margin: auto;
    padding: 20px;
    border: thin solid rgb(34,53,75);
}

#me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "head2 head2"
    "am am";
    margin: auto;
    max-width: 960px;
}

#me h2 {
    grid-area: head2;
    padding: 10px 20px;
}

#me article {
    grid-area: am;
    padding: 0 20px;
}

#hello {
    background: rgba(181,197,215,0.7);
    padding: 10px 20px;
    margin: 0 40px;
    border: thin dotted rgb(34,53,75);
}

h3 {
    color: rgb(56,88,121);
}

h4 {
    color: rgb(68,104,144);
}

h5 {
    color: rgb(74,113,156);
    font-size: 14px;
}

#resume {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "rhead ."
    "rintro rintro"
    "ed ed"
    "bloop bloop";
   margin: auto;
   max-width: 960px;
}

#resume h2 {
    grid-area: rhead;
    padding: 10px 20px;
}

#exp {
    grid-area: bloop;
    background: rgba(181,197,215,0.7);
    padding: 0 20px 10px 20px;
    margin: 10px 50px 20px 50px;
    border: thin dotted rgb(34,53,75);
}


#ed {
    grid-area: ed;
    background: rgba(181,197,215,0.7);
    padding: 10px 20px;
    margin: 10px 50px;
    border: thin dotted rgb(34,53,75);
}

#tmh {
    background: rgba(170,187,206, 0.7);
    padding: 10px 20px;
    margin: 20px 60px;
}

#now {
    background: rgba(170,187,206, 0.7);
    padding: 10px 20px;
    margin: 20px 60px;
}

#talon {
    background: rgba(170,187,206, 0.7);
    padding: 10px 20px;
    margin: 20px 60px;
}

#obj {
    grid-area:rintro;
    background: rgba(181,197,215,0.7);
    padding: 10px 20px;
    margin: 0 50px 10px 50px;
    border: thin dotted rgb(34,53,75);
}

#degree {
    background: rgba(170,187,206, 0.7);
    padding: 10px 20px;
    margin: 20px 60px;
}

#head3 {
    margin-top: 40px;
    padding-left: 20px;
}

#pub {
    margin: auto;
    max-width: 960px;
}

#pub h2 {
    margin-top: 20px;
    padding-left: 20px;
}

#pub article {
    background: rgba(181,197,215,0.7);
    padding: 10px 20px;
    margin: 20px 40px;
    border: thin dotted rgb(34,53,75);
}

footer {
    grid-area: feet;
    background: rgb(181,197,215);
    padding: 2px 20px;
    border: thin solid rgb(34,53,75);
}